.partners {
    padding: 0px 20px;

    &__title {
        margin-bottom: 30px;

        font-size: 28px;
        text-transform: uppercase;
        color: rgba(18, 25, 32, 1);
    }
    &__content {
        margin-bottom: 75px;
    }
    &__companies {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 20px;
        height: 140px;

        border: 1px solid #EBEBF1;

        cursor: pointer;
        &:last-child {
            margin-bottom: 0px;
        }
        &:hover {
            box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
        }
        &--item {
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 5px;

            width: 100%;

            &--img {
                max-width: 100%; 

                img {
                    max-height: 100%;
                    max-width: 100%;
                    vertical-align: middle;
                    border-style: none;
                }   
                &-sr,
                &-min {
                    display: none;
                }        
            }
        }
    }

}
@media (min-width: 768px) {
    .partners {
        padding: 0px;

        &__content {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;

            column-gap: 20px;
        }
        &__companies {
            width: 229px;
            height: 120px;
            &--item--img {
                &-sr {
                    display: block;
                }
                &-max,
                &-min {
                    display: none;
                }   
            }

        }
    }
}
@media (min-width: 1280px) {
    .partners {
        &__title {
            font-size: 36px;
        }
        &__content {
            column-gap: 30px;
        }
        &__companies {
            margin-bottom: 30px;

            width: 287px;
            &--item--img {
                &-min {
                    display: block;
                }
                &-max,
                &-sr {
                    display: none;
                }   
            }

        }
    }
}